@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

ul.navigation {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
}
li.nav-list-element {
    padding: 1rem;
    font: small-caps bold 2REM/1 sans-serif;
    display: inline;
}
ul.primary-headers{
    list-style-type: none;
}
li.primary-header-element{
    font: small-caps bold 24px/1 sans-serif;
    display: inline;
}
a.student-heading{
    float: right;
    padding: 0.25rem;
}
.information{
    padding-left: 2.7rem;
}

p{
    font: 1.2rem "Century Gothic", serif;
}
li.list-body{
    font: 1.2rem "Century Gothic", serif;
}
.courses-header{
    font-size: 22px
}
.profile-pic{
    border-radius: 50%;
    position: relative;
    left: 5.6rem
}
h2.index-blog{
    font: bold 2rem "Century Gothic", serif;
}
body  {
    background: antiquewhite;
    background-size:cover;
}
