@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

ul.navigation {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
}
li.nav-list-element {
    padding: 10px;
    font: small-caps bold 24px/1 sans-serif;
    display: inline;
    width: 60px;
}
ul.primary-headers{
    list-style-type: none;
}
li.primary-header-element{
    font: small-caps bold 24px/1 sans-serif;
    display: inline;
}
a.student-heading{
    float: right;
    padding: 0.25rem;
}
.information{
    padding-left: 2.7rem;
}

p{
    font: 1.2rem "Century Gothic", serif;
}
li.list-body{
    font: 1.2rem "Century Gothic", serif;
}

body  {
    background: cadetblue;
    background-size:cover;
    -webkit-animation: slidein 200s;
    animation: slidein 150s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0;background-size:2750px;}
}

@keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0;background-size:2750px;}

}


