@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

ul.navigation {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 2.5%;
}
li.nav-list-element {
    padding: 1rem;
    font: small-caps bold 2REM/1 sans-serif;
    display: inline;
}
ul.primary-headers{
    list-style-type: none;
}
li.primary-header-element{
    font: small-caps bold 24px/1 sans-serif;
    display: inline;
}
a.student-heading{
    float: right;
    padding: 0.25rem;
}
.information{
    padding-left: 2.7rem;
}

p{
    font: 1.2rem "Century Gothic", serif;
}
p.blog-body{
    font: 1.3rem "Century Gothic", serif;
}
li.list-body{
    font: 1.2rem "Century Gothic", serif;
}
.courses-header{
    font-size: 22px
}
.profile-pic{
    border-radius: 50%;
    position: relative;
    left: 5.6rem
}
h2.index-blog{
    font: bold 2rem "Century Gothic", serif;
}
h2.blog-seeMore{
    font: bold 2.2rem "Century Gothic", serif;
}

a.repo-links{
    color: dodgerblue;

}
a.repo-links:hover{
    color: darkblue;
}
a.main-links{
    color: black;
}
a.main-links:hover{
    color: rgb(128, 128, 128);
}
a.blog-links{
    color: black;
}
a.blog-links:hover{
    color: rgb(128, 128, 128);
}
img.social-media{
    padding: 1rem;
}
img.social-media:hover{
    opacity: 50%;
}
body{
    background: antiquewhite;
    background-size:cover;
}

/* Create a mobile view using @media */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    /* Keep it in the centre */
    .profile-pic{
        border-radius: 50%;
        position: relative;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    li.primary-header-element{
        font: small-caps bold 20px/1 sans-serif;
        display: grid;
        text-align: center;
        padding: 0.5rem 2.9rem 0.5rem 0.5rem;
    }
    a.student-heading{
        float: none;
        padding: 0;
    }

}




